body {
    background-color: #121212;
    color: whitesmoke;
}

.aboutme {
    background-color: #121212;
}

.perfil{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 50px;
}

.perfil h1 {
    font-size: 1.5em;
}

.perfil label {
    font-weight: lighter;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-s{
    padding: 30px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 40%;
    font-size: 1em;
}

.card-s h2, .card-l h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.card-s ul{
    margin-left: 40px;
    font-size: 0.8em;
    line-height: 24px;
}

.card-l{
    margin-top: 34px;
    padding: 30px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 100%;
    font-size: 1em;
}

.card-l p{
    font-size: 1em;
}

@media (max-width: 760px){

    .perfil {
        width: 70%;
    }

    .container{
        flex-direction: column;
    }

    .card-s, .card-l {
        width: 80%;
        margin-bottom: 30px;
    }
}

.btn-mas a{
    text-decoration: none;
    color: #121212;
}

.container .btn-mas {
    margin: auto;
}

.container .btn-mas a:hover {
    color: #13e6bf;
} 