.cabecera {
    width: 100vw;
    background-color: #121212;
    color: whitesmoke;
    position: relative;
    margin-bottom: 60px;
    height: 30vh;
}

.page-proyectos {
    background-color: #121212;
    position: relative;
    z-index: 3;
}

.cabecera h1 {
    margin-top: 0px;
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.wave-p {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 90%;
}

.card-l-black {
    margin-top: 34px;
    padding: 30px;
    border: 1px solid #121212;
    border-radius: 10px;
    width: 80%;
    max-width: 1440px;
    margin: auto;
    font-size: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.derecha {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.card-l-black .btn-mas a {
    text-decoration: none;
    color: black;
}

.card-l-black .btn-mas a:hover {
    color: #13e6bf;
}

.card-l-black .btn-mas {
    justify-self: flex-end;
}

@media (max-width: 760px) {
    .wave-p {
        display: none;
    }

    .page-proyectos {
        z-index: auto;
        position: static;
    }

    .cabecera {
        height: 130px;
    }

    .card-l-black {
        width: 80vw;
        padding: 20px;
    }
}