.page-blog {
    background-color: #121212;
    box-shadow: 10px 10px 16px #d5d5d5,
        -10px -10px 16px #ffffff;
}

.cabecera {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    color: #121212;
    margin-top: 30px;
    border-bottom: solid 0.5px #121212;
}

.saludo-b {
    color: #05947a;
    font-style: normal;
}

.conten-blog {
    width: 80%;
    margin: auto;
    max-width: 1440px;
    min-height: 70vh;
    /* margin-bottom: 100px; */
}

.card-m {
    margin-top: 34px;
    padding: 20px;
    border: 1px solid #121212;
    border-radius: 10px;
    width: 100%;
    font-size: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #121212;
}

.card-m a {
    text-decoration: none;
    color: #121212;
}

.card-m:hover {
    border-color: #05947a;
    cursor: pointer;
}

.card-m a:hover {
    cursor: pointer;
}

.card-m label {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.carousel {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.card-b .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-b .card-text {
    height: 100%;
    padding: 10px;
    font-size: 0.7rem;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: none !important;
}

.card-text h2 {
    margin-bottom: 10px;
}

.card-text p {
    line-height: 20px;
}

.card-text {
    display: flex;
    flex-direction: column;
}


.card-b {
    border: 1px solid #121212;
    border-radius: 10px;
    height: 200px;
    width: 90% !important;
    font-size: 0.8em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #121212;
    transition: all 0.25 ease-out !important;
}

.card-b a {
    text-decoration: none;
    color: #121212;
    transition: none !important;
}

.card-b:hover {
    border-color: #05947a;
    cursor: pointer;
    background-color: #05947a;
    color: whitesmoke;
}

.card-b a:hover {
    cursor: pointer;
    color: whitesmoke;
}

.card-b label {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}

h3 {
    font-size: small;
    color: gray;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu-carrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

.prev,
.next {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

.prev:hover,
.next:hover {
  color: #dddbdb;
}

.prev-d,
.next-d {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

.prev-d:hover,
.next-d:hover {
  color: #dddbdb;
}

@media (max-width: 760px) {
    .card-m {
        width: 90%;
        padding: 10px;
    }

    .card-b {
        width: 98% !important;
        margin: auto !important;
    }

    .cabecera h1 {
        font-size: 1.5em;
    }
}