.page-post {
    background-color: #121212;
}

article {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.titulo {
    margin: auto;
    text-align: center;
}

.titulo h1 {
    font-weight: 500;
}

.frase {
    width: 60%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.cuerpo {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    text-align: justify;
    line-height: normal;
}

.imagen img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.imagen {
    position: relative;
    display: flex;
}

@media (max-width: 760px) {
    article {
        width: 90%;
    }

    .frase {
        width: 80%;
    }

    .cuerpo {
        width: 90%;
    }

    .contenedor-texto-imagen {
        flex-direction: column;
    }

    .contenedor-texto-imagen-reverse {
        flex-direction: column-reverse;
    }
}