.cabecera {
    background-color: #121212;
    color: whitesmoke;
    position: relative;
    margin-bottom: 20px;
    height: 10vh;
}

.page-proyectos {
    background-color: #121212;
    position: relative;
    z-index: 3;
}

.cabecera h1 {
    margin-top: 0px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.wave-p {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 90%;
}

.card-l-black {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #121212;
    border-radius: 10px;
    width: 80%;
    max-width: 1440px;
    margin: auto;
    font-size: 1em;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.derecha {
    display: flex;
}

.card-l-black .btn-mas a {
    text-decoration: none;
    color: black;
}

.card-l-black .btn-mas a:hover {
    color: #13e6bf;
}

.card-l-black .btn-mas {
    justify-self: flex-end;
}

@media (max-width: 760px) {
    .wave-p {
        display: none;
    }

    .page-proyectos {
        z-index: auto;
        position: static;
    }

    .cabecera {
        height: 130px;
    }

    .card-l-black {
        flex-direction: column;
        width: 80%;
        padding: 20px;
    }

    .content {
        flex-direction: column;
        width: 90% !important;
        margin: auto;
        /* padding: 20px; */
    }

    .content div h2 {
        margin-top: 20px;
    }

    .content .card-b {
        width: 100% !important;
        margin: auto;
    }

    .content .fila {
        flex-direction: column !important;
        margin-bottom: 0px !important;
    }

    .content .fila div{
        margin-bottom: 20px;
    }
}

.card-b .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-b .card-text {
    height: 100%;
    padding: 10px;
    font-size: 0.7rem;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: none !important;
}

.card-b {
    border: 1px solid #121212;
    border-radius: 10px;
    height: 200px;
    width: 350px ;
    font-size: 0.8em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #121212;
    transition: all 0.25 ease-out !important;
}

.card-b a {
    text-decoration: none;
    color: #121212;
    transition: none !important;
}

.card-b:hover {
    border-color: #05947a;
    cursor: pointer;
    background-color: #05947a;
    color: whitesmoke;
}

.card-b a:hover {
    cursor: pointer;
    color: whitesmoke;
}

.card-b label {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}


.content {
    width: calc(80% + 60px);
    margin: auto;
    margin-top: 40px;
    max-width: 1240px;
}

.content h2{
    margin-bottom: 20px;
}

.card-text p {
    line-height: 20px;
}